<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/header :: header}">

    </head>
    <body>
        <div class="container">
            <div th:replace="~{fragment/navbar :: nav}"></div>

            <!--  register food -->
            <section>
                <form class="m-2" th:action="@{/manager/register/food}" method="get" style="text-align: right">
                    <button type="submit" class="btn btn-outline-secondary">음식 추가</button>
                </form>
            </section>

            <!-- food section -->
            <section>
                <div class="card xs mt-2 mb-2" th:each="food : ${foods}">
                    <div class="row">
                        <div class="col-4 m-1 xs">
                            <img th:src="${food.imgUrl}" src="https://dummyimage.com/100x100/000/fff" class="card-img">
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <h6 th:text="${food.name}" class="card-title">음식 이름</h6>
                                <p th:text="${food.description}" class="card-text">음식 소개</p>
                                <p th:text="|가격 : ${food.price}|" class="card-text">가격</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </body>
</html>