<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragment/header :: header}"></head>
    <body class="container">
        <div th:replace="~{fragment/navbar :: nav}"></div>

        <form class="input-group mt-3 mb-3" th:action="@{/search/restaurant}" method="get">
            <input type="text" class="form-control m-1" name="input" placeholder="레스토랑 이름">
            <div class="input-group-append m-1">
                <button class="btn btn-outline-secondary" type="submit">검색</button>
            </div>
        </form>

        <table class="table">
            <tr th:each="res : ${restaurants}">
                <td><span th:text="${res.name}"></span></td>
            </tr>
        </table>

    </body>
</html>
