<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragment/header :: header}"></head>
    <body class="container">
        <div th:replace="~{fragment/navbar :: nav}"></div>

        <h5 class="m-2"> 음식점 검색 </h5>
        <hr>
        <form class="input-group mt-3 mb-3" th:action="@{/search/restaurant}" method="get">
            <input type="text" class="form-control m-1" name="input" placeholder="레스토랑 이름">
            <div class="input-group-append m-1">
                <button class="btn btn-outline-secondary" type="submit">검색</button>
            </div>
        </form>

        <table class="table">
            <tr th:each="res : ${restaurants}">
                <a class="text-black text-decoration-none" th:href="@{/search/restaurant/food(restaurantId=${res.id})}">
                    <div class="row">
                        <div class="col-4 m-1 xs">
                            <img th:src="${res.profileImgUrl}" src="https://dummyimage.com/100x100/000/fff" class="card-img" >
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <h6 th:text="${res.name}" class="card-title">음식 이름</h6>
                                <p th:text="${res.description}" class="card-text">음식점 소개</p>
                            </div>
                        </div>
                    </div>
                </a>
            </tr>
        </table>

    </body>
</html>
