<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link th:href="@{/css/styles.css}" href="css/styles.css" rel="stylesheet"/>
<div class="page-error">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>500</span></div>
                <span class="inner-status">서버 내부의 문제가 발생하였습니다.</span>
                <span class="inner-detail">나중에 다시 시도해주세요.</span>
                <!--END CONTENT-->
            </div>
        </div>
    </div>
</div>

