<!DOCTYPE html>
<html lang="kr" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragment/header :: header}"></head>

    <body class="container">
        <div th:replace="~{fragment/navbar :: nav}"></div>

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">너만의 웨이터</h1>
                    <p class="lead fw-normal text-white-50 mb-0">모든 음식 주문 쉽고, 빠르게 !!</p>
                </div>
            </div>
        </header>

        <section sec:authorize="hasAnyAuthority('USER', 'ROLE_ANONYMOUS')" th:replace="~{customer/homeUser :: homeUser}"></section>
        <section sec:authorize="hasAuthority('ADMIN')" th:replace="~{manager/homeManager :: homeManager}"></section>

        <div th:replace="~{/fragment/footer :: footer}"></div>

    </body>
</html>
