<section th:fragment="homeUser" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="text-center" style="position: relative; top: 50%; transform: translateY(-50%)">
                    <a class="p-4 btn btn-outline-dark mt-auto" href="/">QR검색</a>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center" style="position: relative; top: 50%; transform: translateY(-50%)">
                    <a class="p-4 btn btn-outline-dark mt-auto" href="/search">음식점 검색</a>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <div>점주이신가요?</div>
        <a th:href="@{/manager}">관리자 페이지 이동</a>
    </div>
</section>